.auth-button {
    border: 1px dotted #000;
    background-color: #282c34;
    color: white;
    text-align: center;
}
.card-block {
    display: flex;
    flex-direction: column;
    margin: 0.5rem;
    padding: 20px;
    border: 1px #dfdfdf solid;
}

.card-title {
    font-size: 1rem;
}

.fintech-use-no {
    font-size: 0.7rem;
    margin-bottom: 10px;
}
.account-no {
    font-size: 1rem;
    margin-bottom: 10px;
}

.qr-button {
    width: 120px;
    height: 40px;
    background: #2959d4;
    color: white;
    border: none;
}

.balance-button {
    width: 120px;
    height: 40px;
    background: #df6a38;
    color: white;
    margin-left: 10px;
    border: none;
}

.button-block {
    display: flex;
    flex-direction: row;
}

.balance-block {
    display: flex;
    flex-direction: column;
    border: 1px solid #000;
    margin: 1rem;
    padding: 1rem;
}

.bank-name {
    font-size: 2rem;
    font-weight: bold;
}

.balance-text {
    font-size: 1.5rem;
    font-weight: bold;
    margin-top: 1rem;
    text-align: right;
}
.qr-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1rem;
}

.ModalWithdrawBlock {
    display: flex;
    flex-direction: column;
    margin: 0.5rem;
    padding: 20px;
    border: 1px #dfdfdf solid;
}

.WithDrawButton {
    border: none;
    padding: 0.3rem;
    background: #2aa450;
    color: white;
    margin-top: 0.3rem;
}
.ModalCardBlock {
    display: flex;
    flex-direction: column;
    margin: 0.5rem;
    padding: 20px;
    border: 1px #112211 solid;
}

.CardTitle {
    font-size: 1rem;
    color: black;
}
.FintechUseNo {
    font-size: 0.7rem;
    margin-bottom: 30px;
}